input[type="radio"] {
  display: none;
}

label.star {
  display: inline-block;
  cursor: pointer;
  width: 25px;
  height: 25px;
  background-color: transparent;
  border: 1px solid #ccc;
  border-radius: 50%;
  position: relative;
  margin-right: 10px;
}

label.star:before {
  content: "\2605";
  position: absolute;
  top: -3px;
  left: -2px;
  font-size: 28px;
  color: #ffc107;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

input[type="radio"]:checked + label.star:before {
  opacity: 1;
}
